<!DOCTYPE html>
<html lang="zh-Hant-TW" data-bs-theme="{{session.get('dark','light')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<meta name="google-site-verification" content="cprO5RyLKebRcuGNZ3vvB9sqHi9GJWklHWcQPByLebg" />
    <meta charset="UTF-8">
    <title>高中職小幫手｜關於本專題</title>
</head>
<body>
  {{header|safe}}
  <div class="contianer px-5">
    <p class="fs-2 fw-bold">本專題是由 改善教學現場之整合化網站系統平台 — 高中職小幫手 專題小組製作</p>
    <div class="ms-5 me-0">
    <div class="fs-4">•本專題行事曆系統設有幫助校內同學能以線上方式隨時隨地<a href="/tskn/" target="_blank" class="text-primary text-decoration-none fw-bold">指派</a>、<a href="/sche/" target="_blank" class="text-primary text-decoration-none fw-bold">查看</a>作業內容，不必再使用實體白板。除了省下一筆經費，也能避免因班級小白板、小黑板版面配置導致的文字縮寫造成之作業、考試傳達不良、誤導等問題。</div>
    <p></p>
    <div class="fs-4">•也製作了方便雄商各處室、老師們能快速創建獎狀的<a href="/certi/" target="_blank" class="text-primary text-decoration-none fw-bold">獎狀生成</a>功能，只要輸入相關資訊，就能產生一張可直接列印的雄商獎狀。另外，也可以選擇沒有雄商獎狀圖樣的版本，留給老師們自製獎狀的空間。</div>
    <p></p>
    <div class="fs-4">•此外，本專題系統也建有 <a href="https://page.line.me/?accountId=742odmds" target="_blank" class="text-success text-decoration-none fw-bold">Line 機器人官方帳號</a>，供同學老師們使用，學生使用方面，使用「選單」中的「檢視作業」選項，可以顯示最接近截止日期的8則作業，老師及小老師則是可以指派作業。</div>
    <p></p>
    <div class="fs-4">•本系統也設有「<a href="/qa/" class="fw-bold text-primary text-decoration-none">問題系統</a>」，供有登入的使用者線上發問，遇到不會的問題，或是老師們想要測試學生的程度，皆可在問題系統發問。任何已登入的用戶皆能在可見的問題中發表回覆。</div>
    </div>
  </div>
  {{footer|safe}}
</body>
</html>