<!DOCTYPE html>
<html lang="zh-Hant-TW" data-bs-theme="{{session.get('dark','light')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<meta name="google-site-verification" content="cprO5RyLKebRcuGNZ3vvB9sqHi9GJWklHWcQPByLebg" />
    <meta charset="UTF-8">
    <title>高中職小幫手｜班級管理</title>
</head>
<body>
  {{header|safe}}
  <p class="my-5"></p>
  <div class="container text-center">
    <div class="text-center mb-1 fw-bold text-primary fs-5">增加指導班級</div>
    <div class="row text-center mx-auto" style="max-width:25rem;">
      <form class="input-group" method="post" action="/settings">
        <input type="text" name="classes" class="form-control border-primary rounded-0 rounded-start" placeholder="請輸入指導班級的代碼" id="" autocomplete="off"><button type="submit" class="fw-bold rounded-0 rounded-end float-end btn btn-outline-primary">送出</button>
      </form>
    </div>
    <p></p>
    <div class="text-center container mx-auto" style="max-width:25rem;">
      <a href="./create_class" class="btn btn-outline-primary fw-bold w-100">新增班級</a>
    </div>
    <p style="max-width:25rem;" class="text-center mx-auto"><hr style="max-width:25rem;" class="text-center mx-auto"></p>
    <div class="text-center mb-1 fw-bold text-primary fs-5">已指導班級</div>
    <div class="text-center">
      <div class="overflow-scroll text-center mx-auto list-group" style="max-width:25rem;height:7rem">
      {%for i in l%}
          <a href="/clsm/class{{i}}" class="border text-center fw-bold user-select-none list-group-item list-group-item-action">{{i}}</a>
        {%endfor%}
      </div>
    </div>
  </div>
  {{footer|safe}}
</body>
</html>