<!DOCTYPE html>
<html lang="zh-Hant-TW" data-bs-theme="{{session.get('dark','light')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<meta name="google-site-verification" content="cprO5RyLKebRcuGNZ3vvB9sqHi9GJWklHWcQPByLebg" />
    <meta charset="UTF-8">
    <title>高中職小幫手｜使用素材</title>
</head>
<body>
  {{header|safe}}
  <div class="contianer px-5">
    <p class="fs-2 fw-bold">本專題是由 高中職小幫手 — 學務、課業線上助手 專題小組製作</p>
    <p class="fs-2 fw-bold ms-5">以下為本專題製作使用之素材及其來源</p>
    <div class="ms-5 me-0 fs-4">
      <div>Bootstrap <a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com</a></div>
      <div>Bootstrap icon <a href="https://icons.getbootstrap.com/" target="_blank">https://icons.getbootstrap.com/</a></div>
      <div>jQuery <a href="https://jquery.com/" target="_blank">https://jquery.com/</a></div>
      <div>jQuery ui <a href="https://jqueryui.com/" target="_blank">https://jqueryui.com/</a></div>
      <div>Krajee Yii bootstrap-fileinput <a href="https://demos.krajee.com/" target="_blank">https://demos.krajee.com/</a></div>
    </div>
  </div>
  {{footer|safe}}
</body>
</html>