<!DOCTYPE html>
<html lang="zh-Hant-TW" data-bs-theme="{{session.get('dark','light')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<meta name="google-site-verification" content="cprO5RyLKebRcuGNZ3vvB9sqHi9GJWklHWcQPByLebg" />
    <meta charset="UTF-8">
    <title>高中職小幫手｜數位獎狀檢視</title>
</head>
<body>
    {{header|safe}}
<a href="pdfl" class="btn btn-info">檢視所有獎狀</a>
  <iframe src="{{link}}" style="border:0;width:100vw;min-height:100vh;">
    您的瀏覽器不支援Iframe功能。
    建議更新瀏覽器
    或
    <a href="{{link}}">直接檢視</a>
  </iframe>
{{footer|safe}}
</body>
</html>