



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="keywords" content="輔導室" />
	<meta name="description" content="輔導室簡介" />
	<meta name="version" content="keeya CMS 2015 beta1" />
	<title>輔導室簡介 - 輔導室 - 行政單位 - 高雄市立高雄高商</title>
</head>
<body>

<div id="RWDHeader-contain-md">
	<header class="d-none d-md-block p-2 border-bottom shadow-sm w-100 bg-light-subtle z-3" id="RWDHeader-md">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/ksvcs/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
				<img src="/ksvcs/images/ksvcs_logo_h80.png" />
			</a>
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
								<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/index/" >首頁</a></li>
								<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/about/" >認識雄商</a></li>
								<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/principal/" >校長會客室</a></li>
								<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/division/" >處室介紹</a></li>
								<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/department/" >科系介紹</a></li>
								<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/teacher/" >教師園地</a></li>
								<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/stucorner/" >學生園地</a></li>
								<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/recruit/" >家長/新生</a></li>
								<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/cloud/" >雲端校園</a></li>
							</ul>
			</div>
		</div>
	</header>

	<div id="RWDHeader-contain">
		<header class="d-block d-md-none py-2 py-md-4 mb-1 border-bottom user-select-none text-start shadow-sm border-bottom top-0 start-0 bg-light-subtle z-3" id="RWDHeader">
			<div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
				<a href="/ksvcs/" class="d-flex flex-row align-middle align-items-start p-0 m-auto pe-auto text-decoration-none user-select-auto">
					<img src="/ksvcs/images/ksvcs_logo_h80.png" class="object-fit-contain" style="max-width:60vw;"/>
				</a>
				<div class="d-flex align-items-center ms-auto">
					<div class="me-2">
						<div class="" style="cursor:pointer;" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-sidebar" >
							<svg style="width:3rem;height:3rem;max-width:10vw;max-height:10vh;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<nav class="py-2 bg-body-tertiary mb-3 border-bottom">
			<div class="container d-flex flex-wrap">
				<ul class="d-flex d-md-none border-bottom nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
										<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/index/" >首頁</a></li>
										<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/about/" >認識雄商</a></li>
										<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/principal/" >校長會客室</a></li>
										<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/division/" >處室介紹</a></li>
										<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/department/" >科系介紹</a></li>
										<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/teacher/" >教師園地</a></li>
										<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/stucorner/" >學生園地</a></li>
										<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/recruit/" >家長/新生</a></li>
										<li><a class="nav-link px-2 link-body-emphasis fw-bold fs-5" href="/ksvcs/?/cloud/" >雲端校園</a></li>
									</ul>
				<div class="me-auto nav align-items-center justify-content-center justify-content-lg-start">
					
										<div class="nav-item"><a href="http://teacher.ksvcs.kh.edu.tw/~english/" target="_blank" class="nav-link link-body-emphasis px-2">English</a></div>
										<div class="nav-item"><a href="?/admin/" target="_blank" class="nav-link link-body-emphasis px-2">公告管理</a></div>
										<div class="nav-item"><a href="https://portal.kh.edu.tw/" target="_blank" class="nav-link link-body-emphasis px-2">資訊服務入口</a></div>
										<div class="nav-item"><a href="https://www4.inservice.edu.tw/" target="_blank" class="nav-link link-body-emphasis px-2">教師進修網</a></div>
										<div class="nav-item"><a href="http://odm.kh.edu.tw/tbpg/" target="_blank" class="nav-link link-body-emphasis px-2">公文系統</a></div>
										<div class="nav-item"><a href="http://odc.kcg.gov.tw/kw/" target="_blank" class="nav-link link-body-emphasis px-2">文書編輯共通服務平台(IE)</a></div>
										<div class="nav-item"><a href="http://www.ksvcs.kh.edu.tw/maintain/" target="_blank" class="nav-link link-body-emphasis px-2">線上報修</a></div>
										<div class="nav-item"><a href="http://www.ksvcs.kh.edu.tw/roombooking/" target="_blank" class="nav-link link-body-emphasis px-2">場地預約</a></div>
										<div class="nav-item"><a href="https://nas.ksvcs.kh.edu.tw:5001/" target="_blank" class="nav-link link-body-emphasis px-2">雄商雲端硬碟</a></div>
										<div class="nav-item">
						<form id="form_search" method="post" action="/ksvcs/?/search/index.html">
							<input class="text form-control" name="key" placeholder="搜尋..." type="search" maxlength="30" />
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>

</div>
<style>
	/*  Chrome, Safari and Opera */
    *::-webkit-scrollbar {
		width: .5rem;
    }
    *::-webkit-scrollbar-thumb {
		border: #e9ecef solid .1rem;
      border-radius: .8rem;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #4285F4;
    }
    *::-webkit-scrollbar:horizontal {
      height: .5rem;
    }
/* Hide scrollbar for IE, Edge and Firefox */
    * {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
</style>
<script>
	$(()=>{
		$("#form_search").submit(do_search)
		var mq=window.matchMedia("(max-width: 768px)")
		$(window).on("scroll",function(){
			if (mq.matches) {
				if (window.pageYOffset > $("#RWDHeader-contain").height()) {
					if(!$("#RWDHeader").hasClass("position-fixed")){
						$("#RWDHeader").addClass("position-fixed");
					}

				} else {
					$("#RWDHeader").removeClass("position-fixed");
				}
			}else{
				if (window.pageYOffset > $("#RWDHeader-contain-md").height()) {
					if(!$("#RWDHeader-md").hasClass("position-fixed")){
						$("#RWDHeader-md").addClass("position-fixed");
					}

				} else {
					$("#RWDHeader-md").removeClass("position-fixed");
				}
			}
		})
	})
</script>
	<link href="/ksvcs/templates/default/css/index.css" rel="stylesheet" type="text/css" />
<!-- <div id="focus" class="mx-auto" style="width:95vw;">
		<div id="focus_bg" style="width:95vw;"></div>
	<div id="focus_show" style="width:95vw;"></div>
	<div id="focus_img">
				<div name="focus_img" id="focus_1">/ksvcs/images/focusslide/skillcontest_award_2022-0.jpg|index.php|111學年度商科技藝競賽獲獎-大合照</div>
				<div name="focus_img" id="focus_2">/ksvcs/images/focusslide/skillcontest_award_2022-1.jpg|index.php|111學年度商科技藝競賽獲獎</div>
				<div name="focus_img" id="focus_3">/ksvcs/images/focusslide/skillcontest_award_2022-2.jpg|index.php|111學年度商科技藝競賽獲獎</div>
				<div name="focus_img" id="focus_4">/ksvcs/images/focusslide/skillcontest_award_2022-3.jpg|index.php|111學年度商科技藝競賽獲獎</div>
				<div name="focus_img" id="focus_5">/ksvcs/images/focusslide/skillcontest_award_2022-4.jpg|index.php|111學年度商科技藝競賽獲獎</div>
				<div name="focus_img" id="focus_6">/ksvcs/images/focusslide/skillcontest_award_2022-5.jpg|index.php|111學年度商科技藝競賽獲獎</div>
				<div name="focus_img" id="focus_7">/ksvcs/images/focusslide/color_guard_show_2022Sep.jpg|https://khvillages.kcg.gov.tw/Folder/2022khvillagesfestival|樂旗隊受邀至2022高雄眷村設計生活節擔任表演隊伍</div>
				<div name="focus_img" id="focus_8">/ksvcs/images/focusslide/SportGameAward111B.jpg|index.php|女子手球隊榮獲111年全國手球菁英賽冠軍</div>
				<div name="focus_img" id="focus_9">/ksvcs/images/focusslide/bhuntr_contest._2022_2nd.jpg|https://contest.bhuntr.com/tw/9mngjwrf1hll34x106/home/&#35;winner|2022社會局-我在高齡雄幸福城市影片徵選活動獲學生組第二名</div>
				<div name="focus_img" id="focus_10">/ksvcs/images/focusslide/SportGameAward111A.jpg|index.php|女子手球隊榮獲111年全國手球錦標賽冠軍</div>
				<div name="focus_img" id="focus_11">/ksvcs/images/focusslide/ExchangeStudents2017-3.jpg|index.php|拜訪姊妹校-韓國東豆川外語高校</div>
				<div name="focus_img" id="focus_12">/ksvcs/images/focusslide/ExchangeStudents2017-1.jpg|index.php|與姊妹校交換交流學習</div>
				<div name="focus_img" id="focus_13">/ksvcs/images/focusslide/Anniversary80th-1.jpg|index.php|80週年校慶運動會</div>
				<div name="focus_img" id="focus_14">/ksvcs/images/focusslide/buddha_book_fair_2017.jpg|index.php|2017國際書展暨蔬食博覽會</div>
				<div name="focus_img" id="focus_15">/ksvcs/images/focusslide/club2022B.jpg|index.php|第16屆社聯會</div>
				<div name="focus_img" id="focus_16">/ksvcs/images/focusslide/club2022A.jpg|index.php|第十屆學生會</div>
				<div name="focus_img" id="focus_17">/ksvcs/images/focusslide/focus_6.jpg|index.php|敬師月比賽</div>
			</div>
	<script type="text/javascript" src="/ksvcs/templates/default/js/focus.js"></script>
	</div> -->

<div class="carousel slide carousel-fade mb-5" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="4000">
  <div class="carousel-inner">
	    <div class="carousel-item active" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/skillcontest_award_2022-0.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/skillcontest_award_2022-1.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/skillcontest_award_2022-2.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/skillcontest_award_2022-3.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/skillcontest_award_2022-4.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/skillcontest_award_2022-5.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="https://khvillages.kcg.gov.tw/Folder/2022khvillagesfestival">
      		<img src="/ksvcs/images/focusslide/color_guard_show_2022Sep.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/SportGameAward111B.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="https://contest.bhuntr.com/tw/9mngjwrf1hll34x106/home/&#35;winner">
      		<img src="/ksvcs/images/focusslide/bhuntr_contest._2022_2nd.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/SportGameAward111A.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/ExchangeStudents2017-3.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/ExchangeStudents2017-1.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/Anniversary80th-1.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/buddha_book_fair_2017.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/club2022B.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/club2022A.jpg" class="d-block w-100">
	  	</a>
    </div>
	    <div class="carousel-item" >
		<a href="index.php">
      		<img src="/ksvcs/images/focusslide/focus_6.jpg" class="d-block w-100">
	  	</a>
    </div>
	  </div>
</div>

	<div id="main" class="container">
		<div class="row">
			<div id="left" class="col-12 col-md-3">
				<div class="shadow my-2 rounded">
	<div class="head bg-primary bg-gradient p-2 rounded-top">
		<div class="left"></div>
		<div class="title fw-bold text-light ps-3">處室列表</div>
		<div class="right"></div>
	</div>
	<div class="main p-2 bg-light-subtle rounded-bottom pb-4">
		<div>

				<div class="row">		
		
		</div><div class="row">
		<div class="1 my-2 fs-5 col-12"><i class="bi bi-hash"></i><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-12/index.html">行政單位</a></div>
										
		</div><div class="row ms-2">
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-11/index.html">校長室</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-1/index.html">教務處</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-2/index.html">學務處</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-3/index.html">輔導室</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-4/index.html">總務處</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-5/index.html">實習處</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-6/index.html">教官室</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-7/index.html">圖資館</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-8/index.html">人事室</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-9/index.html">會計室</a></div>
										
		
		
		<div class="2 col-6"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/id-10/index.html">進修部</a></div>
				</div>				</div>
	</div>
</div>
				<div class="shadow my-2 rounded z-3" id="div_menu">
	<div class="head bg-primary bg-gradient p-2 rounded-top" id="div_menu_head">
		<div class="left"></div>
		<div class="title fw-bold text-light ps-3 fs-6 fs-sm-5 fs-md-4">行政相關</div>
		<div class="right"></div>
	</div>
	<div class="main">
		<div class="main p-2 bg-light-subtle rounded-bottom list-group d-none d-md-block">
						<a class="cat1 list-group-item rounded-0 border-0 border-bottom list-group-item-action fs-6 fs-md-5 text-decoration-none fw-bold" href="http://163.32.95.209/">無聲廣播視訊管理</a>
						<a class="cat1 list-group-item rounded-0 border-0 border-bottom list-group-item-action fs-6 fs-md-5 text-decoration-none fw-bold" href="http://www.ksvcs.kh.edu.tw/roombooking/">場地預約系統</a>
						<a class="cat1 list-group-item rounded-0 border-0 border-bottom list-group-item-action fs-6 fs-md-5 text-decoration-none fw-bold" href="http://www.ksvcs.kh.edu.tw/maintain/">線上報修 </a>
						<a class="cat1 list-group-item rounded-0 border-0 border-bottom list-group-item-action fs-6 fs-md-5 text-decoration-none fw-bold" href="http://163.32.94.240/">雲端硬碟 / 行政檔案</a>
						<a class="cat1 list-group-item rounded-0 border-0 border-bottom list-group-item-action fs-6 fs-md-5 text-decoration-none fw-bold" href="/ksvcs/resource/_school/20141208090123.docx">各項收費項目說明</a>
						<a class="cat1 list-group-item rounded-0 border-0 border-bottom list-group-item-action fs-6 fs-md-5 text-decoration-none fw-bold" href="/ksvcs/?/article/id-452/">網站公告教學</a>
						<a class="cat1 list-group-item rounded-0 border-0 border-bottom list-group-item-action fs-6 fs-md-5 text-decoration-none fw-bold" href="http://163.32.94.242:5002/fbsharing/oT1FdiT9">雲端硬碟教學</a>
					</div>
		<select class="form-select rounded-0 rounded-bottom d-block d-md-none" id="cat">
					<option value="http://163.32.95.209/" class="cat1">無聲廣播視訊管理</option>
					<option value="http://www.ksvcs.kh.edu.tw/roombooking/" class="cat1">場地預約系統</option>
					<option value="http://www.ksvcs.kh.edu.tw/maintain/" class="cat1">線上報修 </option>
					<option value="http://163.32.94.240/" class="cat1">雲端硬碟 / 行政檔案</option>
					<option value="/ksvcs/resource/_school/20141208090123.docx" class="cat1">各項收費項目說明</option>
					<option value="/ksvcs/?/article/id-452/" class="cat1">網站公告教學</option>
					<option value="http://163.32.94.242:5002/fbsharing/oT1FdiT9" class="cat1">雲端硬碟教學</option>
				</select>
	</div>
</div>


<script>
	$(()=>{
		$("#cat").change(()=>{
			location.href=$("#cat").val()
		})
		var mq=window.matchMedia("(min-width: 992px)")
		var mqmd=window.matchMedia("(min-width: 768px)")
		var oft=$("#div_menu").offset().top
		$(window).resize(function(){oft=$("#div_menu").offset().top})
		$(window).on("scroll resize",function(){
			if (mq.matches) {
				if (window.pageYOffset > $("#div_menu").outerHeight()+oft-$("#RWDHeader-contain-md").outerHeight()) {
					if(!$("#div_menu").hasClass("position-fixed top-25 w-12-5")){
						$("#div_menu").addClass("position-fixed top-25 w-12-5");
					}

				} else {
					$("#div_menu").removeClass("position-fixed top-25 w-12-5");
				}
			}else if (mqmd.matches){
				if (window.pageYOffset > $("#div_menu").outerHeight()+oft-$("#RWDHeader-md").outerHeight()) {
					if(!$("#div_menu").hasClass("position-fixed top-30")){
						$("#div_menu").addClass("position-fixed top-30");
					}

				} else {
					$("#div_menu").removeClass("position-fixed top-30");
				}
			}else{
				if (window.pageYOffset > $("#div_menu").outerHeight()+oft-$("#RWDHeader").outerHeight()) {
					if(!$("#div_menu").hasClass("position-fixed w-100 start-0 m-0")){
						$("#div_menu").addClass("position-fixed w-100 start-0");
						$("#div_menu").css("top",$("#RWDHeader").outerHeight())
						$("#div_menu").removeClass("my-2");
					}
					if(!$("#div_menu_head").hasClass("rounded-top-0")){
						$("#div_menu_head").addClass("rounded-top-0")
					}
				} else {
					if(!$("#div_menu").hasClass("my-2")){
						$("#div_menu").addClass("my-2");
					}
					$("#div_menu_head").removeClass("rounded-top-0");
					$("#div_menu").removeClass("position-fixed top-30 top-25 w-12-5 w-100 start-0 m-0");
					$("#div_menu").css("top","unset")
				}
			}
		})
	})
</script>
<style>
	.top-25{
		top:25%;
		}
	.top-30{
		top:30%;
		}
	.w-12-5{
		width:12.5%;
	}
</style>

			</div>
			<div id="right" class="col-12 col-md-9">
				<div class="here shadow my-2 rounded">
	<div class="left"></div>
	<div class="bg-primary bg-gradient p-2 rounded title fw-bold text-light ps-3">行政單位</div>
	<div class="mb-5 mt-2 px-2">
		<nav class="float-end text-nowrap text-truncate" style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a class="home text-decoration-none fw-bold" href="./">首頁</a></li>
				<li class="breadcrumb-item"><a class="text-decoration-none fw-bold" href="/ksvcs/?/division/index.html">行政單位</a></li>				<li class="breadcrumb-item active fw-bold" aria-current="page">輔導室簡介</li>			</ol>
		</nav>
	</div>
</div>

				<!--div class="here">
		<div class="left"></div>
		<div class="title">輔導室簡介</div>
		<div class="link">
			<a class="home" href="./">首頁</a>
			<a href="/ksvcs/?/division/index.html">行政單位</a>			<a href="/ksvcs/?/division/id-3/index.html">輔導室簡介</a>			<div class="clear"></div>
		</div>
		<div class="right"></div>
</div-->
	<div id="div_title" class="d-flex justify-content-evenly justify-content-sm-between">
		<div class="fs-1 fw-bold text-success-emphasis">輔導室</div>
		<div class="div_link my-auto"><a class="fw-bold text-decoration-none" href="http://ksvcs-counseling.blogspot.tw/" target="_new">拜訪輔導室</a></div>
	</div>

<div id="div_main">
	<div class="block2 list art_list_all mb-5 shadow rounded">
		<div class="head border bg-secondary-subtle p-2 rounded-top">
			<div class="title fw-bold" style="color:#007bc8;">公告事項<a class="more float-end text-decoration-none fw-bold" href="/ksvcs/?/article/index.html">更多</a></div>
		</div>
		<div class="art_sheet list list-group rounded-bottom">
								<div class="list-group-item list-group-item-action rounded-0 border">
						<div class="overflow-hidden row justify-content-between">
							<a class="col-7 col-sm-8 col-lg-9 fw-bold text-muted text-decoration-none text-nowrap text-truncate overflow-hidden" href="/ksvcs/?/article/id-12248/index.html" title="臺北市立復興高級中學辦理「112學年臺北市生命教育教師增能工作坊」" style="max-width:70%;"><img src="images/bullets/tag_new.png" align="absmiddle" border="0" alt="最新" title="最新" />臺北市立復興高級中學辦理「112學年臺北市生命教育教師增能工作坊...</a>
							<div class="col-5 col-sm-4 col-lg-3 text-nowrap text-end">
								<small class="d-none d-sm-inline me-2">幹事</small><small class="date">2023-08-25</small>
							</div>
						</div>
					</div>
								<div class="list-group-item list-group-item-action rounded-0 border">
						<div class="overflow-hidden row justify-content-between">
							<a class="col-7 col-sm-8 col-lg-9 fw-bold text-muted text-decoration-none text-nowrap text-truncate overflow-hidden" href="/ksvcs/?/article/id-12237/index.html" title="關懷社區青少年相關諮詢專線" style="max-width:70%;"><img src="images/bullets/tag_new.png" align="absmiddle" border="0" alt="最新" title="最新" />關懷社區青少年相關諮詢專線</a>
							<div class="col-5 col-sm-4 col-lg-3 text-nowrap text-end">
								<small class="d-none d-sm-inline me-2">幹事</small><small class="date">2023-08-24</small>
							</div>
						</div>
					</div>
								<div class="list-group-item list-group-item-action rounded-0 border">
						<div class="overflow-hidden row justify-content-between">
							<a class="col-7 col-sm-8 col-lg-9 fw-bold text-muted text-decoration-none text-nowrap text-truncate overflow-hidden" href="/ksvcs/?/article/id-12232/index.html" title="轉知台灣聽力語言學會提供「播種—《聽力保健衛教專刊》」、聽力保健文宣、影片連結、海報等資料共4份」" style="max-width:70%;"><img src="images/bullets/tag_new.png" align="absmiddle" border="0" alt="最新" title="最新" />轉知台灣聽力語言學會提供「播種—《聽力保健衛教專刊》」、聽力...</a>
							<div class="col-5 col-sm-4 col-lg-3 text-nowrap text-end">
								<small class="d-none d-sm-inline me-2">幹事</small><small class="date">2023-08-22</small>
							</div>
						</div>
					</div>
								<div class="list-group-item list-group-item-action rounded-0 border">
						<div class="overflow-hidden row justify-content-between">
							<a class="col-7 col-sm-8 col-lg-9 fw-bold text-muted text-decoration-none text-nowrap text-truncate overflow-hidden" href="/ksvcs/?/article/id-12222/index.html" title="「守護身心障礙者權益，成年監護及輔助宣告服務陪您一起做決定！諮詢專線：&#40;07&#41;813- 9022。」" style="max-width:70%;"><img src="images/bullets/tag_new.png" align="absmiddle" border="0" alt="最新" title="最新" />「守護身心障礙者權益，成年監護及輔助宣告服務陪您一起做決定！...</a>
							<div class="col-5 col-sm-4 col-lg-3 text-nowrap text-end">
								<small class="d-none d-sm-inline me-2">幹事</small><small class="date">2023-08-15</small>
							</div>
						</div>
					</div>
								<div class="list-group-item list-group-item-action rounded-0 border">
						<div class="overflow-hidden row justify-content-between">
							<a class="col-7 col-sm-8 col-lg-9 fw-bold text-muted text-decoration-none text-nowrap text-truncate overflow-hidden" href="/ksvcs/?/article/id-12071/index.html" title="轉知教育部國前署2023年「總統教育獎獲 獎者生命故事：生命鬥士文藝賞」徵選" style="max-width:70%;"><img src="images/bullets/tag_new.png" align="absmiddle" border="0" alt="最新" title="最新" />轉知教育部國前署2023年「總統教育獎獲 獎者生命故事：生命鬥士文...</a>
							<div class="col-5 col-sm-4 col-lg-3 text-nowrap text-end">
								<small class="d-none d-sm-inline me-2">幹事</small><small class="date">2023-07-06</small>
							</div>
						</div>
					</div>
								<div class="list-group-item list-group-item-action rounded-0 border">
						<div class="overflow-hidden row justify-content-between">
							<a class="col-7 col-sm-8 col-lg-9 fw-bold text-muted text-decoration-none text-nowrap text-truncate overflow-hidden" href="/ksvcs/?/article/id-12011/index.html" title="轉知教育部國民及學前教育署「112年全國高級中等學校『孝道教育』微電影徵件競賽&#40;主題：大聲說「孝」心連 結）" style="max-width:70%;"><img src="images/bullets/tag_new.png" align="absmiddle" border="0" alt="最新" title="最新" />轉知教育部國民及學前教育署「112年全國高級中等學校『孝道教育』...</a>
							<div class="col-5 col-sm-4 col-lg-3 text-nowrap text-end">
								<small class="d-none d-sm-inline me-2">幹事</small><small class="date">2023-06-26</small>
							</div>
						</div>
					</div>
								<div class="list-group-item list-group-item-action rounded-0 border">
						<div class="overflow-hidden row justify-content-between">
							<a class="col-7 col-sm-8 col-lg-9 fw-bold text-muted text-decoration-none text-nowrap text-truncate overflow-hidden" href="/ksvcs/?/article/id-11734/index.html" title="轉知原住民族學生歲時祭儀放假之權利" style="max-width:70%;"><img src="images/bullets/tag_important.png" align="absmiddle" border="0" alt="重要" title="重要" />轉知原住民族學生歲時祭儀放假之權利</a>
							<div class="col-5 col-sm-4 col-lg-3 text-nowrap text-end">
								<small class="d-none d-sm-inline me-2">幹事</small><small class="date">2023-04-26</small>
							</div>
						</div>
					</div>
								<div class="list-group-item list-group-item-action rounded-0 border">
						<div class="overflow-hidden row justify-content-between">
							<a class="col-7 col-sm-8 col-lg-9 fw-bold text-muted text-decoration-none text-nowrap text-truncate overflow-hidden" href="/ksvcs/?/article/id-11251/index.html" title="轉知生命線台灣總會辦理111年公益彩卷回饋金補助之「『謝謝你跟我說』全台生命線青少年心理健康網路支持平台計畫」" style="max-width:70%;"><img src="images/bullets/tag_important.png" align="absmiddle" border="0" alt="重要" title="重要" />轉知生命線台灣總會辦理111年公益彩卷回饋金補助之「『謝謝你跟我...</a>
							<div class="col-5 col-sm-4 col-lg-3 text-nowrap text-end">
								<small class="d-none d-sm-inline me-2">幹事</small><small class="date">2022-11-25</small>
							</div>
						</div>
					</div>
					</div>
			</div>
	
	<script language="javascript">
	$(function(){
		/*倒敘排列(日期較大者排序較上)*/
		var date_array=$(".date").toArray()
		date_array.sort(function(a,b){
			if(Date.parse($(a).html())<Date.parse($(b).html())){
				return 1;
			}else{
				return -1;
			}
		})
		var length_date_array=date_array.length
		date_array.forEach(function(elem,ind){
			$(elem).parent().parent().parent().css("order",ind)
			if(ind===length_date_array-1){
				$(elem).parent().parent().parent().addClass("rounded-bottom")
			}
		})
		/*--------*/
	});
	</script>
	

	<div class="border shadow rounded mb-5">
		<div class="head border bg-secondary-subtle p-2 rounded-top">
			<div class="left"></div>
			<div class="title fw-bold" style="color:#007bc8;">處室介紹</div>
			<div class="right"></div>
		</div>
		<div class="intro p-2 px-3 object-fit-contain text-wrap">
	<table class="table-cells-border-zero" style="width: 100%; height: 10%;" border="0" summary="" cellspacing="2" cellpadding="2"><tbody><tr class="word"><td style="width: 40px;">一、</td><td><p>輔導室組織 :</p></td></tr><tr class="word"><td>　</td><td><span class="word">輔導室以主任輔導教師領導，以下設有輔導組、特教組分工各項業務，由諮商心理師、 輔導教師、特殊教育教師若干人組織之，秉承校長掌理輔導事宜。 </span></td></tr><tr class="word" align="center"><td colspan="2"><img src="/ksvcs/images/ksvcs_organization_counsel_108.jpg" alt="空白" width="680" /><br /> <img src="/ksvcs/images/page/20090204095131.gif" alt="空白" width="200" height="1" /><div>※請點閱【拜訪輔導室】可獲得更詳細訊息。</div></td></tr><tr class="word"><td colspan="2"><img src="/ksvcs/images/page/20090204095131.gif" alt="空白" width="200" height="1" /></td></tr></tbody></table>
		</div>
	</div>
	
	<script>
		function rwdWrap(elem){
			$(elem).children().each((ind,celem)=>{
				$(celem).addClass("text-wrap object-fit-contain")
				var celemc=$(celem).children()
				$(celem).removeProp("width")
				$(celem).removeProp("height")
				$(celem).removeAttr("width")
				$(celem).removeAttr("height")
				$(celem).css("width","unset")
				$(celem).css("height","unset")
				$(celem).css("max-width","100%")
				if(celemc){rwdWrap(celem)}
			})
		}
		$(()=>{
			rwdWrap(".intro")
		})
	</script>
	
</div>


			</div>
		</div>
	</div>
	<footer id="footer" class="mx-auto text-center">
	<div class="row mx-auto text-center">
				<div class="col">
			<a class="fw-bold text-decoration-none text-muted" href="/ksvcs/?/index/">首頁</a>
		</div>
				<div class="col">
			<a class="fw-bold text-decoration-none text-muted" href="/ksvcs/?/about/">認識雄商</a>
		</div>
				<div class="col">
			<a class="fw-bold text-decoration-none text-muted" href="/ksvcs/?/division/">處室介紹</a>
		</div>
				<div class="col">
			<a class="fw-bold text-decoration-none text-muted" href="/ksvcs/?/article/">公告訊息</a>
		</div>
				<div class="col">
			<a class="fw-bold text-decoration-none text-muted" href="/ksvcs/?/recruit/">招生訊息</a>
		</div>
				<div class="col">
			<a class="fw-bold text-decoration-none text-muted" href="/ksvcs/?/sitemap/">網站地圖</a>
		</div>
			</div>
	<div class="info">
		<div><img style="max-width:90vw;" src="images/divider-shadow-opa40-900x30.png"></div><div>地址 ：80045高雄市新興區五福二路三號 （<a href="https://www.google.com.tw/maps/place/@22.6255735,120.3090231,17z/data=!4m2!3m1!1s0x0000000000000000:0x20789c3daab461dd" target="_blank">地圖</a>）TEL：:(07)2269975 (總機) FAX:(07)2290580（全校電話）</div><div>最佳視覺 Forefox v.116 或 Chrome v.116 或以上版本瀏覽器</div>
		<a href="http://www.ksvcs.kh.edu.tw" target="_blank"></a>
		<a href="http://www.ksvcs.kh.edu.tw" target="_blank"></a>
	</div>
</footer>
<script language="Javascript" type="text/javascript" src="/ksvcs/templates/default/js/footer.js"></script>
</body>
</html>